<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="monetry.com.monetry">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Main"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Reading"
            android:parentActivityName=".Main"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".Website"
            android:parentActivityName=".Main"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".ReadingInstructions"
            android:parentActivityName=".Main"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".WebsiteInstruction"
            android:parentActivityName=".Main"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".DetailsActivity"
            android:parentActivityName=".Main" />
        <activity
            android:name=".MainActivity"
            android:parentActivityName=".Main"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".VideosInstruction"
            android:parentActivityName=".Main"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".ProceedToPayout"
            android:parentActivityName=".Main"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".RewardInstruction"
            android:parentActivityName=".Main"
            android:configChanges="orientation|screenSize"/>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            tools:replace="android:value" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".PayTmNumber"
            android:parentActivityName=".Main"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".RequestMoney"
            android:parentActivityName=".Main"
            android:configChanges="orientation|screenSize">
        </activity>
    </application>

</manifest>